@import url(../style/reset.css);
body {
  position: relative;
}

section, header, footer {
  min-width: 1000px;
}

.btn {
  -webkit-box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
          box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  background-color: #68b0c9;
}

.btn:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
  background-color: #5892a6;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.title {
  color: grey;
  font-size: 36px;
  font-weight: 400;
  padding-top: 80px;
  padding-bottom: 100px;
}

.header-footer {
  max-width: 850px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  text-align: end;
  background: white;
}

.header__call .phone {
  color: #535353;
  font-size: 24px;
  font-weight: 400;
  line-height: 42.35px;
}

.header__call .callback {
  color: #5892a6;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.header-callback {
  background: url(../image/header-callback/header-callback.png) no-repeat center;
  height: 580px;
}

.callback-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.callback-block__title {
  padding: 80px 0 10px 0;
  text-align: right;
  width: 595px;
  height: 100px;
  color: #535353;
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
}

.callback-block__inner-title {
  color: #5892a6;
  font-size: 27px;
  font-weight: 400;
}

.callback-block .form-callback {
  margin-top: 70px;
  text-align: center;
  width: 300px;
  height: 240px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
}

.callback-block .form-callback__title {
  padding-top: 40px;
  color: #5892a6;
  font-size: 20px;
  font-weight: 400;
}

.callback-block .form-callback__inner-title {
  padding: 15px 0;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.callback-block .form-callback .number-input {
  text-align: center;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  margin-bottom: 15px;
}

.callback-block .form-callback .btn-callback {
  text-transform: uppercase;
  padding: 17px 43px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.advantages {
  background-color: #f9fbfd;
}

.advantages__title {
  text-align: center;
}

.list-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-advantages .list-advantages-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.list-advantages .list-advantages-item__text {
  padding-right: 92px;
  padding-top: 30px;
}

.list-advantages .list-advantages-item__text .item-header-name {
  padding-bottom: 23px;
  width: 309px;
  color: #68b0c9;
  font-size: 30px;
  font-weight: 400;
}

.list-advantages .list-advantages-item__text .item-inner-text {
  width: 387px;
  color: #535353;
  font-size: 18px;
  font-weight: 400;
}

.list-advantages .list-advantages-item__image {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.list-advantages .list-advantages-item:nth-child(2) .list-advantages-item__text {
  padding: 0;
  padding-left: 92px;
  padding-top: 30px;
  text-align: end;
}

.list-advantages .list-advantages-item:nth-child(2) .list-advantages-item__text .item-header-name {
  width: 386px;
}

.list-advantages .list-advantages-item:nth-child(2) .list-advantages-item__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.list-advantages .list-advantages-item::before {
  content: '';
  position: absolute;
  top: -42px;
  left: 33%;
  width: 199px;
  height: 53px;
  background: url(../image/advantegers/arrow.png);
}

.list-advantages .list-advantages-item:nth-child(2)::before {
  content: '';
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sale-block {
  background: url(../image/sale/bg-sale.png) center no-repeat;
  height: 490px;
}

.sale-block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sale-price {
  position: relative;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  margin-top: 230px;
  margin-right: 50px;
}

.sale-price__text-header {
  position: relative;
  padding-top: 30px;
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: line-through;
}

.sale-price__text-header::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 15px;
  width: 120px;
  height: 1px;
  background-color: #e8e8e8;
}

.sale-price__text-inner {
  color: #d04545;
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
}

.sale-price::after {
  content: '';
  position: absolute;
  width: 155px;
  height: 64px;
  bottom: -80px;
  right: -70px;
  background: url(../image/advantegers/arrow.png) center no-repeat;
  background-size: contain;
  -webkit-transform: rotate3d(12, 1, 3, 180deg);
          transform: rotate3d(12, 1, 3, 180deg);
}

.sale-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
}

.sale-text__header {
  width: 355px;
  height: 125px;
  text-align: center;
  color: #535353;
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.sale-text__header .uppercase {
  font-size: 55px;
}

.sale-text__header .surprise {
  color: #68b0c9;
  font-size: 25px;
  line-height: 50px;
}

.sale-form {
  margin-top: 30px;
  width: 275px;
  height: 200px;
  border-radius: 23px;
  border: 5px solid #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d35656;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 55px;
}

.sale-form__text img {
  padding: 0 15px;
}

.sale-form__text p {
  text-align: left;
  display: inline-block;
  width: 64px;
}

.sale-form__btn .btn-sale {
  padding: 15px 61px;
  text-transform: uppercase;
  color: #ffffff;
}

.counter-block {
  min-height: 200px;
}

.counter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.counter-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
  text-align: center;
}

.counter-item__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #68b0c9;
  font-size: 48px;
  font-weight: 400;
  line-height: 41px;
  min-width: 135px;
  margin-bottom: 30px;
  background: url(../image/bg-counter.png) no-repeat center;
  min-height: 100px;
}

.counter-item__text {
  color: #535353;
  font-size: 18px;
  font-weight: 400;
}

.counter-item:last-child {
  margin-right: 0;
}

.certificate-block {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfd), to(#ecf3f8));
  background-image: linear-gradient(to bottom, #f9fbfd 0%, #ecf3f8 100%);
  height: 600px;
}

.certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.certificate__title {
  padding-bottom: 70px;
}

.certificate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-certificate {
  width: 230px;
  height: 310px;
  -webkit-box-shadow: 0 4px 8px rgba(1, 1, 1, 0.15), inset 0 5px 18px rgba(1, 1, 1, 0.1);
          box-shadow: 0 4px 8px rgba(1, 1, 1, 0.15), inset 0 5px 18px rgba(1, 1, 1, 0.1);
  border: 5px solid #484848;
  background-color: #ffffff;
  margin-right: 150px;
}

.image-certificate img {
  display: block;
  width: 230px;
  height: 310px;
}

.description-certificate__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #68b0c9;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 50px;
}

.description-certificate__title img {
  margin-right: 25px;
}

.description-certificate__text {
  color: #323232;
  font-size: 18px;
  font-weight: 400;
}

.armchair {
  background: url(../image/armchair/armhair.png) no-repeat center;
  height: 545px;
}

.pros-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 430px;
  padding-top: 100px;
}

.pros-item {
  position: relative;
  width: 240px;
  text-align: right;
  padding-right: 50px;
}

.pros-item__title {
  color: #68b0c9;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.pros-item__text {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

.pros-item__text .vinni {
  text-transform: uppercase;
}

.pros-item:nth-child(even) {
  text-align: left;
  padding-right: 0;
  padding-left: 50px;
}

.pros-item:nth-child(even)__text:nth-child(even) {
  padding-right: 0;
  padding-left: 100px;
}

.pros-item::after {
  content: '';
  position: absolute;
  width: 122px;
  height: 109px;
  background: url(../image/armchair/line.png) no-repeat center;
}

.pros-item:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -84px;
}

.pros-item:nth-child(2)::after {
  content: '';
  position: absolute;
  -webkit-transform: rotate3d(35, 7, 10, 180deg);
          transform: rotate3d(35, 7, 10, 180deg);
  top: -44px;
  left: -80px;
}

.pros-item:nth-child(3)::after {
  content: '';
  position: absolute;
  -webkit-transform: rotate3d(32, 16, 10, 180deg);
          transform: rotate3d(32, 16, 10, 180deg);
  top: -53px;
  right: -62px;
}

.pros-item:nth-child(4)::after {
  content: '';
  position: absolute;
  top: -35px;
  left: -90px;
  -webkit-transform: rotate3d(2, -10, 15, -58deg);
          transform: rotate3d(2, -10, 15, -58deg);
}

.request-block {
  background: url(../image/request/request.png) no-repeat center;
  min-height: 350px;
}

.request-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 160px;
  height: 157px;
  background-color: #ffffff;
  margin-top: 100px;
  margin-left: 130px;
}

.request-sale__header {
  color: #68b0c9;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.request-sale__price-old {
  position: relative;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 400;
  line-height: 37.6px;
  text-decoration: line-through;
}

.request-sale__price-old::after {
  content: '';
  position: absolute;
  width: 96px;
  height: 2px;
  background-color: #e8e8e8;
  bottom: 0;
  left: 32px;
}

.request-sale__price-new {
  color: #d04545;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.6px;
}

.request-form {
  position: relative;
  padding-top: 40px;
  padding-right: 70px;
}

.request-form__header {
  width: 210px;
  text-align: center;
  color: #535353;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.request-form__header span {
  margin-top: 10px;
  display: block;
  color: #68b0c9;
  background-color: white;
}

.request-form__input {
  margin-bottom: 15px;
}

.request-form__input input {
  text-align: center;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #d5e4ef;
  background-color: #ffffff;
}

.request-form__btn .btn-request {
  color: white;
  text-transform: uppercase;
  padding: 10px 35px;
}

.request-form::after {
  content: '';
  position: absolute;
  width: 65px;
  height: 105px;
  bottom: 18px;
  right: -18px;
  background: url(../image/request/arrow-request.png) center no-repeat;
  background-size: contain;
}

.comparison-block {
  background: url(../image/comparison-block/comparison-block-bg.png) no-repeat center;
  min-height: 522px;
}

.comparison-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  font-weight: 400;
  padding-top: 50px;
}

.comparison-title__header-grey {
  text-align: right;
  color: #535353;
  width: 120px;
  padding-right: 30px;
}

.comparison-title__header-blue {
  padding-left: 30px;
  text-align: left;
  color: #68b0c9;
  width: 120px;
}

.comparison-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comparison-content-left {
  margin-top: 35px;
}

.comparison-content-left__text {
  position: relative;
  color: #939393;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  padding-bottom: 40px;
  width: 200px;
}

.comparison-content-left__text::after {
  content: '';
  position: absolute;
  width: 82px;
  height: 42px;
  right: 0;
  top: 0;
  background: url(../image/comparison-block/line-grey.png) no-repeat center;
}

.comparison-content-left__text:nth-child(1)::after {
  content: '';
  position: absolute;
  right: -100px;
  top: 10px;
}

.comparison-content-left__text:nth-child(2)::after {
  content: '';
  position: absolute;
  right: -100px;
  top: 10px;
}

.comparison-content-left__text:nth-child(3)::after {
  content: '';
  position: absolute;
  right: -100px;
  top: -14px;
  -webkit-transform: rotateX(137deg);
          transform: rotateX(137deg);
}

.comparison-content-left__text:nth-child(4)::after {
  content: '';
  position: absolute;
  right: -100px;
  top: -14px;
  -webkit-transform: rotateX(137deg);
          transform: rotateX(137deg);
}

.comparison-content-right {
  margin-top: 35px;
}

.comparison-content-right__text {
  padding-right: 30px;
  position: relative;
  text-align: left;
  padding-bottom: 40px;
  width: 170px;
  color: #68b0c9;
  font-size: 15px;
  font-weight: 400;
}

.comparison-content-right__text::after {
  content: '';
  position: absolute;
  width: 82px;
  height: 42px;
  left: 0;
  top: 0;
  background: url(../image/comparison-block/line-blue.png) no-repeat center;
}

.comparison-content-right__text:nth-child(1)::after {
  content: '';
  position: absolute;
  left: -100px;
  top: 10px;
}

.comparison-content-right__text:nth-child(2)::after {
  content: '';
  position: absolute;
  left: -100px;
  top: 10px;
}

.comparison-content-right__text:nth-child(3)::after {
  content: '';
  position: absolute;
  left: -100px;
  top: -14px;
  -webkit-transform: rotateX(137deg);
          transform: rotateX(137deg);
}

.comparison-content-right__text:nth-child(4)::after {
  content: '';
  position: absolute;
  left: -100px;
  top: -14px;
  -webkit-transform: rotateX(137deg);
          transform: rotateX(137deg);
}

.position-block {
  height: 420px;
  background-color: #ecf3f8;
}

.position {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.position-content {
  margin-top: 30px;
  text-align: center;
  margin-left: 80px;
}

.position-content__img {
  margin-bottom: 20px;
}

.position-content__description {
  color: #535353;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.position-content__place {
  margin-bottom: 50px;
  color: #68b0c9;
  font-size: 20px;
  font-weight: 400;
}

.position-content__or {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.position-content__btn .btn-position {
  padding: 12px 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__polici {
  color: #68b0c9;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.footer__requisites {
  text-align: right;
  color: #505050;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.callback-form-block {
  display: none;
  position: absolute;
  background-color: rgba(10, 38, 48, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.callback-form {
  position: relative;
  top: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 300px;
  height: 240px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
  display: none;
}

.callback-form__title {
  padding: 20px 0;
  color: #5892a6;
  font-size: 20px;
  font-weight: 400;
}

.callback-form__inner-text {
  margin-bottom: 19px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.callback-form__input input {
  margin-bottom: 15px;
  text-align: center;
  padding: 15px 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
}

.callback-form__button button {
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 55px;
  font-size: 14px;
  font-weight: 400;
}

.callback-form .close {
  position: absolute;
  right: 0;
  top: -45px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.callback-form .close:hover {
  opacity: 1;
}

.callback-form .close:before, .callback-form .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 30px;
  width: 3px;
  background-color: #68b0c9;
}

.callback-form .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.callback-form .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ready {
  position: absolute;
  right: 0;
  top: -45px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.ready:hover {
  opacity: 1;
}

.ready:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 30px;
  width: 3px;
  background-color: #68b0c9;
}

.ready:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ready:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.ready-form {
  display: none;
  position: relative;
  margin: 100px auto 0 auto;
  top: 200px;
  width: 300px;
  height: 140px;
  -webkit-box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
          box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}

.ready-form__title {
  padding: 20px 0;
  color: #5892a6;
  font-size: 20px;
  font-weight: 400;
}

.ready-form__inner-text {
  margin: 0 auto;
  width: 179px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */